// 黑
$color_black_000: #000000;
$color_black_000_alpha50: rgba(0,0,0,0.6);

// 灰
$color_gray_F2F1F1: #F2F1F1;
$color_gray_F7F7F7: #F7F7F7; // 淺淺淺灰

// 白
$color_white_FFF: #FFFFFF;

// 藍
$color_blue_273043: #273043;  // 深深藍紫
$color_blue_5C5B86: #5C5B86;  // 深藍紫


// 咖啡色
$color_coffee_473E3B: #473E3B;  // 深深咖啡色
$color_coffee_EBDECE: #EBDECE;  // 淺咖啡色


// ==========================================================
// 各平台使用的主要色
// ==========================================================
// 遠傳fetnet
$color_orange_FF604A_fetnet: #FF604A;


// 台灣大哥大taiwanmobile
$color_orange_FF5F1F_taiwanmobile: #FF5F1F;


// HAPPYGO_happygo
$color_orange_DE1B2B_happygo: #DE1B2B;


// 貸鼠先生roo
$color_orange_CC3C14_roo: #CC3C14;


// Money101
$color_orange_FF8640_money101: #FF8640;


// 實貸比較網alphaloan
$color_orange_FF8640_alphaloan: #FF8640;  // 文字用色
$color_orange_FFD438_alphaloan: #FFD438;  // 區塊用色














