
// ==========================================================
// 01 空間距離(被指定的時候使用)
// ==========================================================

// 手機版面 575以內
	$mobile_1px: 0.266666vw;
	$mobile_2px: 0.533333vw;
	$mobile_3px: 0.8vw;
	$mobile_4px: 1.066667vw;
	$mobile_5px: 1.333333vw;
	$mobile_6px: 1.6vw;
	$mobile_7px: 1.866667vw;
	$mobile_8px: 2.133333vw;
	$mobile_9px: 2.4vw;
	$mobile_10px: 2.666667vw;
	$mobile_11px: 2.933333vw;
	$mobile_12px: 3.2vw;
	$mobile_13px: 3.466667vw;
	$mobile_14px: 3.733333vw;
	$mobile_15px: 4vw;
	$mobile_16px: 4.266667vw;
	$mobile_17px: 4.533333vw;
	$mobile_18px: 4.8vw;
	$mobile_19px: 5.066667vw;
	$mobile_20px: 5.333333vw;
	$mobile_21px: 5.6vw;
	$mobile_22px: 5.866667vw;
	$mobile_23px: 6.133333vw;
	$mobile_24px: 6.4vw;
	$mobile_25px: 6.666667vw;
	$mobile_26px: 6.933333vw;
	$mobile_27px: 7.2vw;
	$mobile_28px: 7.466667vw;
	$mobile_29px: 7.733333vw;
	$mobile_30px: 8vw;
	$mobile_31px: 8.266667vw;
	$mobile_32px: 8.533333vw;
	$mobile_33px: 8.8vw;
	$mobile_34px: 9.066667vw;
	$mobile_35px: 9.333333vw;
	$mobile_36px: 9.6vw;
	$mobile_37px: 9.866667vw;
	$mobile_38px: 10.133333vw;
	$mobile_39px: 10.4vw;
	$mobile_40px: 10.666667vw;
	$mobile_41px: 10.933333vw;
	$mobile_42px: 11.2vw;
	$mobile_43px: 11.466667vw;
	$mobile_44px: 11.733333vw;
	$mobile_45px: 12vw;
	$mobile_46px: 12.266667vw;
	$mobile_47px: 12.533333vw;
	$mobile_48px: 12.8vw;
	$mobile_49px: 13.066667vw;
	$mobile_50px: 13.333333vw;
	$mobile_51px: 13.6vw;
	$mobile_52px: 13.866667vw;
	$mobile_53px: 14.133333vw;
	$mobile_54px: 14.4vw;
	$mobile_55px: 14.666667vw;
	$mobile_56px: 14.933333vw;
	$mobile_57px: 15.2vw;
	$mobile_58px: 15.466667vw;
	$mobile_59px: 15.733333vw;
	$mobile_60px: 16vw;
	$mobile_61px: 16.266667vw;
	$mobile_62px: 16.533333vw;
	$mobile_63px: 16.8vw;
	$mobile_64px: 17.066667vw;
	$mobile_65px: 17.333333vw;
	$mobile_66px: 17.6vw;
	$mobile_67px: 17.866667vw;
	$mobile_68px: 18.133333vw;
	$mobile_69px: 18.4vw;
	$mobile_70px: 18.666667vw;
	$mobile_71px: 18.933333vw;
	$mobile_72px: 19.2vw;
	$mobile_73px: 19.466667vw;
	$mobile_74px: 19.733333vw;
	$mobile_75px: 20vw;
	$mobile_76px: 20.266667vw;
	$mobile_77px: 20.533333vw;
	$mobile_78px: 20.8vw;
	$mobile_79px: 21.066667vw;
	$mobile_80px: 21.333333vw;
	$mobile_81px: 21.6vw;
	$mobile_82px: 21.866667vw;
	$mobile_83px: 22.133333vw;
	$mobile_84px: 22.4vw;
	$mobile_85px: 22.666667vw;
	$mobile_86px: 22.933333vw;
	$mobile_87px: 23.2vw;
	$mobile_88px: 23.466667vw;
	$mobile_89px: 23.733333vw;
	$mobile_90px: 24vw;
	$mobile_91px: 24.266667vw;
	$mobile_92px: 24.533333vw;
	$mobile_93px: 24.8vw;
	$mobile_94px: 25.066667vw;
	$mobile_95px: 25.333333vw;
	$mobile_96px: 25.6vw;
	$mobile_97px: 25.866667vw;
	$mobile_98px: 26.133333vw;
	$mobile_99px: 26.4vw;
	$mobile_100px: 26.666667vw;
	$mobile_101px: 26.933333vw;
	$mobile_102px: 27.2vw;
	$mobile_103px: 27.466667vw;
	$mobile_104px: 27.733333vw;
	$mobile_105px: 28vw;
	$mobile_106px: 28.266667vw;
	$mobile_107px: 28.533333vw;
	$mobile_108px: 28.8vw;
	$mobile_109px: 29.066667vw;
	$mobile_110px: 29.333333vw;
	$mobile_111px: 29.6vw;
	$mobile_112px: 29.866667vw;
	$mobile_113px: 30.133333vw;
	$mobile_114px: 30.4vw;
	$mobile_115px: 30.666667vw;
	$mobile_116px: 30.933333vw;
	$mobile_117px: 31.2vw;
	$mobile_118px: 31.466667vw;
	$mobile_119px: 31.733333vw;
	$mobile_120px: 32vw;
	$mobile_121px: 32.266667vw;
	$mobile_122px: 32.533333vw;
	$mobile_123px: 32.8vw;
	$mobile_124px: 33.066667vw;
	$mobile_125px: 33.333333vw;
	$mobile_126px: 33.6vw;
	$mobile_127px: 33.866667vw;
	$mobile_128px: 34.133333vw;
	$mobile_129px: 34.4vw;
	$mobile_130px: 34.666667vw;
	$mobile_131px: 34.933333vw;
	$mobile_132px: 35.2vw;
	$mobile_133px: 35.466667vw;
	$mobile_134px: 35.733333vw;
	$mobile_135px: 36vw;
	$mobile_136px: 36.266667vw;
	$mobile_137px: 36.533333vw;
	$mobile_138px: 36.8vw;
	$mobile_139px: 37.066667vw;
	$mobile_140px: 37.333333vw;
	$mobile_141px: 37.6vw;
	$mobile_142px: 37.866667vw;
	$mobile_143px: 38.133333vw;
	$mobile_144px: 38.4vw;
	$mobile_145px: 38.666667vw;
	$mobile_146px: 38.933333vw;
	$mobile_147px: 39.2vw;
	$mobile_148px: 39.466667vw;
	$mobile_149px: 39.733333vw;
	$mobile_150px: 40vw;
	$mobile_151px: 40.266667vw;
	$mobile_152px: 40.533333vw;
	$mobile_153px: 40.8vw;
	$mobile_154px: 41.066667vw;
	$mobile_155px: 41.333333vw;
	$mobile_156px: 41.6vw;
	$mobile_157px: 41.866667vw;
	$mobile_158px: 42.133333vw;
	$mobile_159px: 42.4vw;
	$mobile_160px: 42.666667vw;
	$mobile_161px: 42.933333vw;
	$mobile_162px: 43.2vw;
	$mobile_163px: 43.466667vw;
	$mobile_164px: 43.733333vw;
	$mobile_165px: 44vw;
	$mobile_166px: 44.266667vw;
	$mobile_167px: 44.533333vw;
	$mobile_168px: 44.8vw;
	$mobile_169px: 45.066667vw;
	$mobile_170px: 45.333333vw;
	$mobile_171px: 45.6vw;
	$mobile_172px: 45.866667vw;
	$mobile_173px: 46.133333vw;
	$mobile_174px: 46.4vw;
	$mobile_175px: 46.666667vw;
	$mobile_176px: 46.933333vw;
	$mobile_177px: 47.2vw;
	$mobile_178px: 47.466667vw;
	$mobile_179px: 47.733333vw;
	$mobile_180px: 48vw;
	$mobile_181px: 48.266667vw;
	$mobile_182px: 48.533333vw;
	$mobile_183px: 48.8vw;
	$mobile_184px: 49.066667vw;
	$mobile_185px: 49.333333vw;
	$mobile_186px: 49.6vw;
	$mobile_187px: 49.866667vw;
	$mobile_188px: 50.133333vw;
	$mobile_189px: 50.4vw;
	$mobile_190px: 50.666667vw;
	$mobile_191px: 50.933333vw;
	$mobile_192px: 51.2vw;
	$mobile_193px: 51.466667vw;
	$mobile_194px: 51.733333vw;
	$mobile_195px: 52vw;
	$mobile_196px: 52.266667vw;
	$mobile_197px: 52.533333vw;
	$mobile_198px: 52.8vw;
	$mobile_199px: 53.066667vw;
	$mobile_200px: 53.333333vw;
	$mobile_201px: 53.6vw;
	$mobile_202px: 53.866667vw;
	$mobile_203px: 54.133333vw;
	$mobile_204px: 54.4vw;
	$mobile_205px: 54.666667vw;
	$mobile_206px: 54.933333vw;
	$mobile_207px: 55.2vw;
	$mobile_208px: 55.466667vw;
	$mobile_209px: 55.733333vw;
	$mobile_210px: 56vw;
	$mobile_211px: 56.266667vw;
	$mobile_212px: 56.533333vw;
	$mobile_213px: 56.8vw;
	$mobile_214px: 57.066667vw;
	$mobile_215px: 57.333333vw;
	$mobile_216px: 57.6vw;
	$mobile_217px: 57.866667vw;
	$mobile_218px: 58.133333vw;
	$mobile_219px: 58.4vw;
	$mobile_220px: 58.666667vw;
	$mobile_221px: 58.933333vw;
	$mobile_222px: 59.2vw;
	$mobile_223px: 59.466667vw;
	$mobile_224px: 59.733333vw;
	$mobile_225px: 60vw;
	$mobile_226px: 60.266667vw;
	$mobile_227px: 60.533333vw;
	$mobile_228px: 60.8vw;
	$mobile_229px: 61.066667vw;
	$mobile_230px: 61.333333vw;
	$mobile_231px: 61.6vw;
	$mobile_232px: 61.866667vw;
	$mobile_233px: 62.133333vw;
	$mobile_234px: 62.4vw;
	$mobile_235px: 62.666667vw;
	$mobile_236px: 62.933333vw;
	$mobile_237px: 63.2vw;
	$mobile_238px: 63.466667vw;
	$mobile_239px: 63.733333vw;
	$mobile_240px: 64vw;
	$mobile_241px: 64.266667vw;
	$mobile_242px: 64.533333vw;
	$mobile_243px: 64.8vw;
	$mobile_244px: 65.066667vw;
	$mobile_245px: 65.333333vw;
	$mobile_246px: 65.6vw;
	$mobile_247px: 65.866667vw;
	$mobile_248px: 66.133333vw;
	$mobile_249px: 66.4vw;
	$mobile_250px: 66.666667vw;

// 桌機版面 576以上 ～ 1400以下
	$desktop_1px: 0.071428vw;
	$desktop_2px: 0.142857vw;
	$desktop_3px: 0.214286vw;
	$desktop_4px: 0.285714vw;
	$desktop_5px: 0.357143vw;
	$desktop_6px: 0.428571vw;
	$desktop_7px: 0.5vw;
	$desktop_8px: 0.571429vw;
	$desktop_9px: 0.642857vw;
	$desktop_10px: 0.714286vw;
	$desktop_11px: 0.785714vw;
	$desktop_12px: 0.857143vw;
	$desktop_13px: 0.928571vw;
	$desktop_14px: 1vw;
	$desktop_15px: 1.071429vw;
	$desktop_16px: 1.142857vw;
	$desktop_17px: 1.214286vw;
	$desktop_18px: 1.285714vw;
	$desktop_19px: 1.357143vw;
	$desktop_20px: 1.428571vw;
	$desktop_21px: 1.5vw;
	$desktop_22px: 1.571429vw;
	$desktop_23px: 1.642857vw;
	$desktop_24px: 1.714286vw;
	$desktop_25px: 1.785714vw;
	$desktop_26px: 1.857143vw;
	$desktop_27px: 1.928571vw;
	$desktop_28px: 2vw;
	$desktop_29px: 2.071429vw;
	$desktop_30px: 2.142857vw;
	$desktop_31px: 2.214286vw;
	$desktop_32px: 2.285714vw;
	$desktop_33px: 2.357143vw;
	$desktop_34px: 2.428571vw;
	$desktop_35px: 2.5vw;
	$desktop_36px: 2.571429vw;
	$desktop_37px: 2.642857vw;
	$desktop_38px: 2.714286vw;
	$desktop_39px: 2.785714vw;
	$desktop_40px: 2.857143vw;
	$desktop_41px: 2.928571vw;
	$desktop_42px: 3vw;
	$desktop_43px: 3.071429vw;
	$desktop_44px: 3.142857vw;
	$desktop_45px: 3.214286vw;
	$desktop_46px: 3.285714vw;
	$desktop_47px: 3.357143vw;
	$desktop_48px: 3.428571vw;
	$desktop_49px: 3.5vw;
	$desktop_50px: 3.571429vw;
	$desktop_51px: 3.642857vw;
	$desktop_52px: 3.714286vw;
	$desktop_53px: 3.785714vw;
	$desktop_54px: 3.857143vw;
	$desktop_55px: 3.928571vw;
	$desktop_56px: 4vw;
	$desktop_57px: 4.071429vw;
	$desktop_58px: 4.142857vw;
	$desktop_59px: 4.214286vw;
	$desktop_60px: 4.285714vw;
	$desktop_61px: 4.357143vw;
	$desktop_62px: 4.428571vw;
	$desktop_63px: 4.5vw;
	$desktop_64px: 4.571429vw;
	$desktop_65px: 4.642857vw;
	$desktop_66px: 4.714286vw;
	$desktop_67px: 4.785714vw;
	$desktop_68px: 4.857143vw;
	$desktop_69px: 4.928571vw;
	$desktop_70px: 5vw;
	$desktop_71px: 5.071429vw;
	$desktop_72px: 5.142857vw;
	$desktop_73px: 5.214286vw;
	$desktop_74px: 5.285714vw;
	$desktop_75px: 5.357143vw;
	$desktop_76px: 5.428571vw;
	$desktop_77px: 5.5vw;
	$desktop_78px: 5.571429vw;
	$desktop_79px: 5.642857vw;
	$desktop_80px: 5.714286vw;
	$desktop_81px: 5.785714vw;
	$desktop_82px: 5.857143vw;
	$desktop_83px: 5.928571vw;
	$desktop_84px: 6vw;
	$desktop_85px: 6.071429vw;
	$desktop_86px: 6.142857vw;
	$desktop_87px: 6.214286vw;
	$desktop_88px: 6.285714vw;
	$desktop_89px: 6.357143vw;
	$desktop_90px: 6.428571vw;
	$desktop_91px: 6.5vw;
	$desktop_92px: 6.571429vw;
	$desktop_93px: 6.642857vw;
	$desktop_94px: 6.714286vw;
	$desktop_95px: 6.785714vw;
	$desktop_96px: 6.857143vw;
	$desktop_97px: 6.928571vw;
	$desktop_98px: 7vw;
	$desktop_99px: 7.071429vw;
	$desktop_100px: 7.142857vw;
	$desktop_101px: 7.214286vw;
	$desktop_102px: 7.285714vw;
	$desktop_103px: 7.357143vw;
	$desktop_104px: 7.428571vw;
	$desktop_105px: 7.5vw;
	$desktop_106px: 7.571429vw;
	$desktop_107px: 7.642857vw;
	$desktop_108px: 7.714286vw;
	$desktop_109px: 7.785714vw;
	$desktop_110px: 7.857143vw;
	$desktop_111px: 7.928571vw;
	$desktop_112px: 8vw;
	$desktop_113px: 8.071429vw;
	$desktop_114px: 8.142857vw;
	$desktop_115px: 8.214286vw;
	$desktop_116px: 8.285714vw;
	$desktop_117px: 8.357143vw;
	$desktop_118px: 8.428571vw;
	$desktop_119px: 8.5vw;
	$desktop_120px: 8.571429vw;
	$desktop_121px: 8.642857vw;
	$desktop_122px: 8.714286vw;
	$desktop_123px: 8.785714vw;
	$desktop_124px: 8.857143vw;
	$desktop_125px: 8.928571vw;
	$desktop_126px: 9vw;
	$desktop_127px: 9.071429vw;
	$desktop_128px: 9.142857vw;
	$desktop_129px: 9.214286vw;
	$desktop_130px: 9.285714vw;
	$desktop_131px: 9.357143vw;
	$desktop_132px: 9.428571vw;
	$desktop_133px: 9.5vw;
	$desktop_134px: 9.571429vw;
	$desktop_135px: 9.642857vw;
	$desktop_136px: 9.714286vw;
	$desktop_137px: 9.785714vw;
	$desktop_138px: 9.857143vw;
	$desktop_139px: 9.928571vw;
	$desktop_140px: 10vw;
	$desktop_141px: 10.071429vw;
	$desktop_142px: 10.142857vw;
	$desktop_143px: 10.214286vw;
	$desktop_144px: 10.285714vw;
	$desktop_145px: 10.357143vw;
	$desktop_146px: 10.428571vw;
	$desktop_147px: 10.5vw;
	$desktop_148px: 10.571429vw;
	$desktop_149px: 10.642857vw;
	$desktop_150px: 10.714286vw;
	$desktop_151px: 10.785714vw;
	$desktop_152px: 10.857143vw;
	$desktop_153px: 10.928571vw;
	$desktop_154px: 11vw;
	$desktop_155px: 11.071429vw;
	$desktop_156px: 11.142857vw;
	$desktop_157px: 11.214286vw;
	$desktop_158px: 11.285714vw;
	$desktop_159px: 11.357143vw;
	$desktop_160px: 11.428571vw;
	$desktop_161px: 11.5vw;
	$desktop_162px: 11.571429vw;
	$desktop_163px: 11.642857vw;
	$desktop_164px: 11.714286vw;
	$desktop_165px: 11.785714vw;
	$desktop_166px: 11.857143vw;
	$desktop_167px: 11.928571vw;
	$desktop_168px: 12vw;
	$desktop_169px: 12.071429vw;
	$desktop_170px: 12.142857vw;
	$desktop_171px: 12.214286vw;
	$desktop_172px: 12.285714vw;
	$desktop_173px: 12.357143vw;
	$desktop_174px: 12.428571vw;
	$desktop_175px: 12.5vw;
	$desktop_176px: 12.571429vw;
	$desktop_177px: 12.642857vw;
	$desktop_178px: 12.714286vw;
	$desktop_179px: 12.785714vw;
	$desktop_180px: 12.857143vw;
	$desktop_181px: 12.928571vw;
	$desktop_182px: 13vw;
	$desktop_183px: 13.071429vw;
	$desktop_184px: 13.142857vw;
	$desktop_185px: 13.214286vw;
	$desktop_186px: 13.285714vw;
	$desktop_187px: 13.357143vw;
	$desktop_188px: 13.428571vw;
	$desktop_189px: 13.5vw;
	$desktop_190px: 13.571429vw;
	$desktop_191px: 13.642857vw;
	$desktop_192px: 13.714286vw;
	$desktop_193px: 13.785714vw;
	$desktop_194px: 13.857143vw;
	$desktop_195px: 13.928571vw;
	$desktop_196px: 14vw;
	$desktop_197px: 14.071429vw;
	$desktop_198px: 14.142857vw;
	$desktop_199px: 14.214286vw;
	$desktop_200px: 14.285714vw;
	$desktop_201px: 14.357143vw;
	$desktop_202px: 14.428571vw;
	$desktop_203px: 14.5vw;
	$desktop_204px: 14.571429vw;
	$desktop_205px: 14.642857vw;
	$desktop_206px: 14.714286vw;
	$desktop_207px: 14.785714vw;
	$desktop_208px: 14.857143vw;
	$desktop_209px: 14.928571vw;
	$desktop_210px: 15vw;
	$desktop_211px: 15.071429vw;
	$desktop_212px: 15.142857vw;
	$desktop_213px: 15.214286vw;
	$desktop_214px: 15.285714vw;
	$desktop_215px: 15.357143vw;
	$desktop_216px: 15.428571vw;
	$desktop_217px: 15.5vw;
	$desktop_218px: 15.571429vw;
	$desktop_219px: 15.642857vw;
	$desktop_220px: 15.714286vw;
	$desktop_221px: 15.785714vw;
	$desktop_222px: 15.857143vw;
	$desktop_223px: 15.928571vw;
	$desktop_224px: 16vw;
	$desktop_225px: 16.071429vw;
	$desktop_226px: 16.142857vw;
	$desktop_227px: 16.214286vw;
	$desktop_228px: 16.285714vw;
	$desktop_229px: 16.357143vw;
	$desktop_230px: 16.428571vw;
	$desktop_231px: 16.5vw;
	$desktop_232px: 16.571429vw;
	$desktop_233px: 16.642857vw;
	$desktop_234px: 16.714286vw;
	$desktop_235px: 16.785714vw;
	$desktop_236px: 16.857143vw;
	$desktop_237px: 16.928571vw;
	$desktop_238px: 17vw;
	$desktop_239px: 17.071429vw;
	$desktop_240px: 17.142857vw;
	$desktop_241px: 17.214286vw;
	$desktop_242px: 17.285714vw;
	$desktop_243px: 17.357143vw;
	$desktop_244px: 17.428571vw;
	$desktop_245px: 17.5vw;
	$desktop_246px: 17.571429vw;
	$desktop_247px: 17.642857vw;
	$desktop_248px: 17.714286vw;
	$desktop_249px: 17.785714vw;
	$desktop_250px: 17.857143vw;



